/*
  	Flaticon icon font: Flaticon
  	Creation date: 07/05/2018 12:24
  	*/

@font-face {
  font-family: "uicons-brands";
  src: url("https://cdn-uicons.flaticon.com/uicons-brands/webfonts/uicons-brands.eot#iefix")
      format("embedded-opentype"),
    url("https://cdn-uicons.flaticon.com/uicons-brands/webfonts/uicons-brands.woff2")
      format("woff2"),
    url("https://cdn-uicons.flaticon.com/uicons-brands/webfonts/uicons-brands.woff")
      format("woff");
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  font-family: uicons-brands !important;
  font-size: 24px;
  font-style: normal;
  margin-left: 0px;
}

.flaticon-bitbucket-logotype-camera-lens-in-perspective:before {
  content: "\f117";
}
.flaticon-reddit-logo:before {
  content: "\f19d";
}
.flaticon-medium:before {
  content: "\f181";
}
.flaticon-figma-logo:before {
  content: "\f151";
}
.flaticon-github-logo:before {
  content: "\f15d";
}
.flaticon-discord-logo:before {
  content: "\f144";
}
.flaticon-dribbble:before {
  content: "\f106";
}
.flaticon-themeforest:before {
  content: "\f107";
}
.flaticon-linkedin:before {
  content: "\f17b";
}
.flaticon-youtube:before {
  content: "\f1d9";
}
